{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='berth.css') }}"
/>
<title></title>

{% endblock %} {% block body %}
<a href="/">dashboard</a>

<form action="POST">
  <div class="berth-full">
    <div class="berth">
      <div class="heading">
        <h1>Resource Planning</h1>
      </div>
      <div class="vessel-name">
        <input class="inp" type="text" name="name" id="name" placeholder="Vessel Name" />
        <!-- <label class="lab" for="name">Vessel Name</label> -->
      </div><br/>
      <div class="eta">
        <label  for="ETA"> Estimated Time of Arrival</label>
        <input type="datetime-local" id="ETA" /><span class="highlight"></span
        ><span class="bar"></span>
        
      </div><br>

      <!-- <label for="berth">Berth No.</label>
            <select name="berth" id="berth">
                <option value="1">B01</option>
                <option value="2">B02</option>
                <option value="3">B03</option>
                <option value="4">B04</option>
                <option value="5">B05</option>
                <option value="6">B06</option>
                <option value="7">B07</option>
                <option value="8">B08</option>
                <option value="9">B09</option>
                <option value="10">B10</option>
                <option value="11">B11</option>
                <option value="12">B12</option>
            </select> -->

      <label for="cargo">Cargo</label>
      <select name="cargo" id="cargo" onchange="set()">
        <option disabled selected>Select</option>
        <option value="Containers">Containers</option>
        <option value="Liquid">Liquid</option>
        <option value="Dry">Dry</option>
      </select><br>

      <div>
        <label id="commodity">Commodity</label>
        <input list="con" id="conlist1" />
        <datalist id="con">
          <option value="Containers"></option>
          <option value="CAR"></option>
        </datalist>
        <input list="liq" id="liqlist1" />
        <datalist id="liq">
          <option value="ACETIC ACID"></option>
          <option value="ALPHAPLUS 1 HEXADECENE"></option>
          <option value="ALPHAPLUS 1-TETRADECENE"></option>
          <option value="ALPHAPLUS C-20/24"></option>
          <option value="ALPHAPLUS(R) NAO 1 - DODECENE (C12H24)"></option>
          <option value="BITUMEN"></option>
          <option value="CARBON BLACK FEED STOCK"></option>
          <!-- <OPTION VALUE="CRUDE PALM KERNEL OIL" ></OPTION> -->
          <option value="CRUDE PALM OIL"></option>
          <option value="CRUDE PETROLEUM OIL"></option>
          <option value="CRUDE SOYABEAL OIL"></option>
          <option value="CRUDE SUNFLOWER OIL"></option>
          <option value="DENATURED ETHYL ALCOHOL"></option>
          <option value="DIETHYLENE GLYCOL"></option>
          <option value="GAS OIL (HSD)"></option>
          <option value="HEAVY WHITE OIL"></option>
          <option value="HIGH SPEED DIESEL"></option>
          <option value="LPG BUTANE"></option>
          <option value="LPG PROPANE"></option>
          <option value="METANOL"></option>
          <option value="METHYL TERTIARY BUTYL ETHER"></option>
          <option value="'MOTOR SPIRIT"></option>
          <option value="NAPHTHA"></option>
          <option value="OLEFINS(C13+ALL ISOMERS)ALPHAPLUS (R)C24-28"></option>
          <option value="RBD PALM STEARIN"></option>
          <option value="SPLIT RBD PALM STEARIN FATTY ACID"></option>
        </datalist>
        <input list="dry" id="drylist1" />
        <datalist id="dry">
          <option value="BENTONITE IN BULK"></option>
          <option value="UREA"></option>
          <option value="PROJECT CARGO"></option>
          <option value="STEEL PIPES"></option>
          <option value="STEEL COILD"></option>
          <option value="STEEL PLATES"></option>
          <option value="INDUSTRIAL SALT"></option>
          <option value="DAP"></option>
          <option value="GRANULATED BLAST FURNACE SLAG"></option>
          <option value="BAUXITE IN BULK"></option>
          <option value="MURITE OF POTASH"></option>
          <option value="FLY ASH IN JUMBO BAGS"></option>
          <option value="BENTONITE IN JUMBO BAGS"></option>
          <option value="STEEL BENDS"></option>
          <option value="IRON ORE LUMPS"></option>
          <option value="SILICA SAND"></option>
          <option value="IRON ORE PELLETS"></option>
          <option value="CRIMSON LENTILS"></option>
          <option value="SODA ASH"></option>
          <option value="STEEL RAILS"></option>
          <option value="PET COKE"></option>
          <option value="NITRO PHOSPHATE WITH POTASH"></option>
          <option value="STONE / STONE CHIPS"></option>
          <option value="IRON ORE FINE"></option>
          <option value="BLACK MATPE"></option>
          <option value="STEAM COAL"></option>
          <option value="COKING COAL"></option>
        </datalist><br>
        <label for="weight1" id="Weightl">Weight</label>
        <input type="number" name="weight1" id="weight1" step="0.0001" />
      </div>
      <!-- Iterating space -->
      <div id="addspace"></div>

      <label for="timewindow" id="timel">Time Window</label>
      <input
        type="datetime-local"
        id="timewindow"
        onchange="onchangewindow()"
      />
      <label for="revenue" id="rl">Revenue</label>
      <input type="text" name="revenue" id="revenue" readonly />

      <button type="button" id="add" onclick="addc()" value="+">+</button>
      <button type="button" id="saveinf" onclick="saveinfo()">Save</button>
      <button type="button" id="checka" onclick="check()">Check</button>
      <button type="button" id="reset">Reset</button>
    </div>
  </div>
</form>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='main.js') }}"
></script>

{% endblock %}
