{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='dashboard.css') }}"
/>
<title></title>

{% endblock %} {% block body %}

<div class="full-page">
  <div class="right">
    <form action="" class="search">
      <button
        type="button"
        class="search__button focus--box-shadow"
        value="Search"
        onclick="finder()"
      >
        <img
          src="https://img.icons8.com/pastel-glyph/45/000000/worldwide-location.png"
        />
      </button>
      <input
        class="search__input focus--box-shadow"
        type="text"
        id="Vname"
        placeholder="Project search"
      />
    </form>
    <div class="current1">
      <p id="result"></p><br>
      {% for i in final_productivity %}
        <p>{{final_productivity.index(i) ~") "~i}}</p>
        <br />
        {% endfor %}
    </div>
    <div class="i-frame">
      <div class="i-frame-inside">
        <iframe
          scrolling="no"
          src="https://www.marinetraffic.com/en/ais/home/centerx:69.697/centery:22.734/zoom:13"
        >
        </iframe>
      </div>
    </div>
  </div>

  <div class="left">
    <div class="curr-head">
      <div class="curr-grad">
        <h2 class="curr-h2" id="currentvessels">Current</h2>
        <br />
      </div>
    </div>
    <div class="curr-loop">
      {% for i in current %} {% set j=i["data"]["details"] | jsonit %}

      <div class="current">
        <div><span> Name: </span>{{i["data"]["name"]}}</div>
        <div>
          <span>Commodities:</span>
          {%for x in j["Commodities"]%}
          <p>{{x}}</p>
          {%endfor%}
        </div>
        <div>
          <span>
            Cargo Type:
          </span>
          {{j["Name"]}}
        </div>
        <div>
          <span>
            Weight:
          </span>
          {{j["Weight"]}}
        </div>
        <!-- <div>
          <span>
            ETA:
          </span>
          <input type="datetime-local" disabled value='{{j["eta"]}}' />
        </div> -->
        <div>
          <span>
            Revenue:
          </span>
          {{j["revenue"]}}
        </div>
        <!-- <div>
          <span>
            TAT:
          </span>
          <input type="datetime-local" disabled value='{{j["tat"]}}' />
        </div> -->
        <div>
          <span>
            Berth
          </span>
          {{i["berth"]}}
        </div>
        <div>
          <span>
            Actual time
          </span>
          {{i["ActualTime"]}}
        </div>
        <input type='button' onclick='remove("{{ i["_id"]|safe }}")'
        id='remove{{i['_id']}}' value='Remove'>
      </div>

      {% endfor %}
    </div>

    <div class="exp-head">
      <div class="exp-grad">
        <h2 class="exp-h2" id="expectedvessels">Expected</h2>
      </div>
    </div>

    <div class="exp-loop">
      {% for i in expected %} {% set j=i["data"]["details"] | jsonit %}
      <div class="expected">
        <div><span> Name: </span>{{i["data"]["name"]}}</div>
        <div>
          <span>Commodities:</span>
          {%for x in j["Commodities"]%}
          <p>{{x}}</p>
          {%endfor%}
        </div>
        <div>
          <span>
            Cargo Type:
          </span>
          {{j["Name"]}}
        </div>
        <div>
          <span>
            Weight:
          </span>
          {{j["Weight"]}}
        </div>
        <div>
          <span>
            ETA:
          </span>
          <input type="datetime-local" disabled value='{{j["eta"]}}' />
        </div>
        <div>
          <span>
            Revenue:
          </span>
          {{j["revenue"]}}
        </div>
        <div>
          <span>
            TAT:
          </span>
          <input type="datetime-local" disabled value='{{j["tat"]}}' />
        </div>
        <label for="berth">Berth No.</label>
        <select name="berth" id="berth{{i['_id']}}">
          <option value="1">B01</option>
          <option value="2">B02</option>
          <option value="3">B03</option>
          <option value="4">B04</option>
          <option value="5">B05</option>
          <option value="6">B06</option>
          <option value="7">B07</option>
          <option value="8">B08</option>
          <option value="9">B09</option>
          <option value="10">B10</option>
          <option value="11">B11</option>
          <option value="12">B12</option>
        </select>
        <input type="button" onclick='current("{{ i["_id"]|safe }}")'
        id='button{{i['_id']}}' value='Arrived'>
      </div>
      {% endfor %}
    </div>
    <div class="up-head">
      <div class="up-grad">
        <h2 class="up-h2" id="upcomingvessels">Upcoming</h2>
      </div>
    </div>
    <div class="up-loop">
      {% for i in upcoming %} {% set j=i["data"]["details"] | jsonit %}
      <div class="upcomming">
        <div><span> Name: </span>{{i["data"]["name"]}}</div>
        <div>
          <span>Commodities:</span>
          {%for x in j["Commodities"]%}
          <p>{{x}}</p>
          {%endfor%}
        </div>
        <div>
          <span>
            Cargo Type:
          </span>
          {{j["Name"]}}
        </div>
        <div>
          <span>
            Weight:
          </span>
          {{j["Weight"]}}
        </div>
        <div>
          <span>
            ETA:
          </span>
          <input type="datetime-local" disabled value='{{j["eta"]}}' />
        </div>
        <div>
          <span>
            Revenue:
          </span>
          {{j["revenue"]}}
        </div>
        <div>
          <span>
            TAT:
          </span>
          <input type="datetime-local" disabled value='{{j["tat"]}}' />
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="nav-class">
    <div class="nav-bar">
      <nav class="nav vertical">
        <ul>
          <li>
            <a href="#currentvessels" style="text-decoration: none;">
              <i class="material-icons"
                ><img
                  src="https://img.icons8.com/ios-filled/40/000000/region-code.png"
              /></i>
            </a>
          </li>
          <li>
            <a href="#expectedvessels" style="text-decoration: none;">
              <i class="material-icons"
                ><img
                  src="https://img.icons8.com/wired/40/000000/marker.png"
                  alt="Expected"
              /></i>
            </a>
          </li>
          <li>
            <a href="#upcomingvessels" style="text-decoration: none;">
              <i class="material-icons"
                ><img
                  src="https://img.icons8.com/ios/40/000000/next-location.png"
                  alt="Upcoming"
              /></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='dashboard.js') }}"
></script>
{% endblock %}
